@font-face {
  font-family: 'Hijrnotes';
  src: url('../fonts/Hijrnotes.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StreetbrushW01-Regular';
  src: url('../fonts/StreetbrushW01-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color-main: #000;
  --intro-text-color: #ffffff;
  --intro-text-shadow: #ffffff30;
  --text-color: #ffffff;
  --text-shadow: #00bbb8;
  --menu-logo-color: #ffffff;
  --contact-links-hover: #00bbb8;
  --section-title-color: #ffffff;
  --font-notes: 'Hijrnotes';
  --font-brush: 'StreetbrushW01-Regular';
  --font-body: 'Roboto';
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

body {
  font-family: var(--font-body);
  font-size: 14px;
  width: 100%;
  background-color: var(--bg-color-main);
}

.intro-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 100vh;
  background-color: var(--bg-color-main);
  margin: 0 auto;
}

.intro-page__socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px;
  z-index: 10;
}

.github-logo__link {
  display: block;
  width: 40px;
  height: 40px;
}

.socials-list {
  display: flex;
  align-items: center;
}

.socials-list__item-link {
  display: block;
  width: 40px;
  height: 40px;
}

/** INTRO PAGE CONTENT */

.intro-page__content-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 480px;
  padding: 0 40px;
}
.content-container__text-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  z-index: 10;
}

.intro-greetings {
  font-family: var(--font-notes);
  font-size: 60px;
  margin-left: 70px;
  line-height: 72px;
  text-shadow: 0 0 10px var(--text-shadow);
  -webkit-box-reflect: below 1px linear-gradient(transparent, var(--intro-text-shadow));
  outline: none;
  animation: intro-greetings-glow 2s linear forwards;
}

@keyframes intro-greetings-glow {
  0%, 5%, 18%, 20%, 30%, 40%, 50%, 60%, 70.5%, 80%, 90% {
    color: var(--intro-text-shadow);
    text-shadow: none;
  }
  5.1%, 18.1%, 20.1%, 30.1%, 40.5%, 55%, 60.1%, 70.8%, 80.3%, 100% {
    color: var(--intro-text-color);
    text-shadow: 0 -4px 10px var(--text-shadow);
  }
}
.intro-typing-text {
  font-family: var(--font-body);
  font-size: 100px;
  letter-spacing: 5px;
  color: var(--intro-text-color);
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, var(--intro-text-shadow));
  text-shadow: 0 0 10px var(--text-shadow);
}

.intro-typing-text::after {
  content: "";
  margin-left: 5px;
  border-right: 5px solid var(--intro-text-shadow);
  animation: typing-text-bar .5s linear infinite;
  opacity: 0;
  animation-delay: 1.5s;
}

@keyframes typing-text-bar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.photo-filter {
  width: 480px;
  height: 480px;
  position: absolute;
  right: 40px;
  background: linear-gradient(to right, #000000, #00000000, #000000),
              url(../images/intro-photo.JPG);
  animation: show-photo 2s linear forwards;
  opacity: 0;
  animation-delay: 2s;
}

@keyframes show-photo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/** HEADER MENU */

/** MAIN CONTENT SECTIONS */

main {
  max-width: 1440px;
  margin: 0 auto;
}

.section-container {
  display: flex;
  height: 100vh;
}

.section-title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  font-size: 64px;
  letter-spacing: 3px;
  padding: 50px 20px;
  color: var(--section-title-color);
  background-color: var(--bg-color-main);
  text-transform: uppercase;
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  text-shadow: 0 0 10px var(--text-shadow);
}

.section-number {
  font-size: 104px;
  color: transparent;
  -webkit-text-stroke: 1px var(--section-title-color);
}

.section-content__wrapper {
  color: var(--text-color);
  /* background: linear-gradient(to right bottom,#000000 50%, #1a1a1a, #000000); */
}

.section-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 30px 50px 50px;
}

/** SECTION ABOUT */

.section-about__img__wrapper {
  position: relative;
  height: 350px;
  width: 198px;
  flex-basis: auto;
}

.section-about__img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.section-about__img-filter {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left bottom, #000, #00000000, #000);
}
.first-paragraph__wrapper,
.second-paragraph__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-about__paragraph {
  flex-basis: 70%;
  text-indent: 20px;
  font-size: 1.5em;
}






/** MEDIA QUERIES */
/* intro page content */

@media screen and (max-width: 1200px) {
  .intro-greetings {
    font-size: 50px;
    line-height: 60px;
    margin-left: 10px;
  }

  .intro-typing-text {
    font-size: 80px;
  }
}

@media screen and (max-width: 900px) {
  .intro-greetings {
    font-size: 40px;
    line-height: 47px;
  }

  .intro-typing-text {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .intro-greetings {
    font-size: 30px;
    line-height: 35px;
  }

  .intro-typing-text {
    font-size: 40px;
  }
}

@media screen and (max-width: 640px) {
  .github-logo__link {
    width: 20px;
    height: 20px;
  }
  .socials-list__item-link {
    width: 20px;
    height: 20px;
  }
  .intro-page__socials-container {
    padding: 20px 20px;
  }
  
  .intro-page__content-container {
    padding: 0 20px;
    align-items: flex-end;
    justify-content: center;
  }
  .content-container__text-container {
    width: calc(100% - 80px);
    gap: 35px;
  }

  .intro-greetings {
    font-size: 30px;
    line-height: 35px;
    width: 100%;
    text-align: center;
  }

  .intro-typing-text {
    font-size: 32px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .photo-filter {
    width: 100vw;
    right: 0;
  }
}

@media screen and (max-width: 450px) {
  .intro-greetings {
    font-size: 20px;
    line-height: 25px;
  }
  .intro-typing-text {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 414px) {
}

@media screen and (max-width: 360px) {

}