* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hijrnotes';
  src: url('../fonts/Hijrnotes.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StreetbrushW01-Regular';
  src: url('../fonts/StreetbrushW01-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

/* MAIN SETTINGS */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  font-size: 24px;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

a {
  cursor: pointer;
}

.intro-page {
  position: relative;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: 0 auto;
}

.intro-socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
}

.intro-socials-list {
  display: flex;
  height: 100px;
  align-items: center;
  list-style-type: none;
}

.github-logo {
  display: block;
  width: 40px;
  height: 40px;
}

.intro-socials-list > li > a {
  display: block;
  width: 25px;
  height: 25px;
}

.intro-page-content-container {
  position: relative;
  width: 1440px;
  height: 480px;
  padding: 0 40px;
}

.intro-page-text-container {
  position: absolute;
  z-index: 2;
}

.intro-phrase {
  margin-left: 70px;
  margin-top: 160px;
  font-family: Hijrnotes;
  font-size: 60px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #ffffff0f);
  line-height: 60px;
  outline: none;
  animation: intro-phrase-glow 2s linear forwards;
}

@keyframes intro-phrase-glow {
  0%, 5%, 18%, 20%, 30%, 40%, 50%, 60%, 70.5%, 80%, 90% {
    color: #ffffff30;
    text-shadow: none;
  }
  5.1%, 18.1%, 20.1%, 30.1%, 40.5%, 55%, 60.1%, 70.8%, 80.3%, 100% {
    color: #ffffff;
    text-shadow: 0 -4px 10px #00bbb8;
  }
}

.intro-typing-text {
  position: relative;
  margin-top: 60px;
  font-family: Roboto;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #ffffff05);
  text-shadow: 0 0 10px #00bbb8;
}

.intro-typing-text::after {
  content: "";
  margin-left: 5px;
  border-right: 5px solid #ffffff30;
  animation: show-bar .5s linear infinite;
  opacity: 0;
  animation-delay: 1.5s;
}

@keyframes show-bar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.photo-filter {
  position: absolute;
  right: 40px;
  width: 480px;
  height: 480px;
  background: linear-gradient(to right, #000000, #00000000, #000000),
              url(../images/intro-photo.JPG);
  animation: show-photo 2s linear forwards;
  opacity: 0;
  animation-delay: 2s;
  z-index: 1;
}

@keyframes show-photo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  opacity: 0;
  animation: show-menu 0.5s linear forwards;
  z-index: 2;
  background-color: #000;
}

@keyframes show-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-logo {
  font-family: Hijrnotes;
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}

.intro-logo:hover {
  color: #00bbb8;
  text-shadow: 0 -4px 10px #00bbb8;
}

ul {
  list-style: none;
}

.nav__links-container > li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff30;
  text-shadow: none;
  transition: all 0.8s;
}

.nav__links:hover {
  color: #fff;
  text-shadow: 0 -2px 10px #00bbb8;
}

.arrow-down__wrapper {
  display: block;
  width: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  opacity: 0;
  animation: show-arrow 1s cubic-bezier(0.29, 0.71, 0.17, 1.36) forwards;
  animation-delay: 4s;
  transition: all 1s;
}

.arrow-right__wrapper {
  display: block;
  width: 20px;
  position: absolute;
  top: 62%;
  right: 10%;
}

@keyframes show-arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px;
  box-shadow: 10px 10px 20px #00bbb83b;
  border-bottom: 1px solid #ffffff30;
  border-right: 1px solid #ffffff30;
  animation: arrow-glow 2s infinite;
}

.arrow:nth-child(2) {
  animation-delay: .2s;
}
.arrow:nth-child(1) {
  animation-delay: .4s;
}

.arrow-down {
  transform: rotate(45deg);
}

.arrow-right {
  position: absolute;
  transform: rotate(-45deg);
}

.arrow-right:nth-child(2) {
  left: -10px;
}
.arrow-right:nth-child(1) {
  left: -20px;
}

@keyframes arrow-glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* HORIZONTAL */

.horizontal-scroll__sticky-wrapper {
  overflow: hidden;
  position: sticky;
  max-width: 1440px;
  top: 100px;
  margin: 0 auto;
}

.horizontal-scroll__section__wrapper {
  position: relative;
  display: flex;
}

.horizontal-scroll__section {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  flex-shrink: 0;
}

/* TODO STICKY TITLES???? WHY NOT??? */
/* TODO ANIMATIONS FOR TEXT */

.section-title {
  height: 100%;
  padding: 20px;
  font-size: 64px;
  letter-spacing: 3px;
  text-align: right;
  color: #ffffff;
  background-color: #000;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
  writing-mode:tb-rl;
  transform: rotate(180deg);
  text-shadow: 0 0 10px #00bbb8;
}

.section-number {
  position: absolute;
  bottom: 0;
  width: 104px;
  text-align: center;
  font-size: 104px;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}
.section-content__wrapper {
  width: 100%;
  padding: 100px;
  color: #fff;
  background: linear-gradient(to right bottom,#000000 50%, #1a1a1a, #000000);
}

.section-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}


/* SECTION ABOUT */

.section-about {
  justify-content: space-between;
  align-items: center;
}

.first-paragraph__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-about-img-filter__wrapper {
  position: relative;
  height: 350px;
  width: 198px;
  margin: 0 auto;
}

.section-about-img {
  height: 100%;
  width: 100%;
}

.section-about-img-filter {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, #000, #00000000, #000);
}

.section-about-paragraph-first {
  width: 70%;
  text-align: justify;
  text-indent: 20px;
}

.content-title {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 0 0 10px #00bbb8;
}

.skill-title {
  width: 30%;
}

.section-about-paragraph-second {
  width: 70%;
  align-self: flex-start;
  text-align: justify;
  text-indent: 20px;
}

.skill__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.skills-list {
  list-style-type: none;
}

.skills-list > li {
  /* TODO */
  /* padding-left: 10px; */
  float: right;
}

.projects__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-title {
  margin-top: 30px;
}
.project {
  width: 50%;
  display: flex;
}

.project > a {
  display: block;
  width: 320px;
  height: 240px;
}

.project > a > img {
  width: inherit;
  height: inherit;
  border-radius: 5px;
}

.project-description {
  width: 50%;
  padding: 0 10px;
}


.canvas-demo {
    width: 50%;
    height: 50%;
}

.code__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.code-example {
  font-size: 14px;
}

.section-education {
  flex-direction: row;
}

.language {
  align-self: flex-end;
}

.education > p, .language > p {
  padding: 10px 0;
}
.language-abilities {
  list-style-type: none;
}

.language-abilities > li {
  padding: 10px 0 10px 50px;
}

.bold-text {
  font-weight: 800;
}


/* FOOTER */
/* TODO ADD ANIMATION FOR BACKGROUND AND TEXT */


.footer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  max-width: 1440px;
  height: 100vh;
  padding: 100px 40px 50px;
  margin: 0 auto;
  background: linear-gradient(to right, #000000, #00000000, #000000),
              center no-repeat url(../images/backgrounds-wallpapers-1080p-4k-aydln-3840x2160.jpg);
  background-size: cover;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.animate-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.sign {
  font-family: StreetbrushW01-Regular;
  font-size: 120px;
  font-weight: 100;
  color: #00bbb8;
}



.contacts__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}

.contacts-list-item {
  line-height: 16px;
}

.contacts-list-item__link {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.contacts-list-item__link:hover {
  color: #00bbb8;
}


.footer-social-icon > svg {
  height: 40px;
}

.socials__wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.socials-list {
  display: flex;
}

.socials-list-item:nth-child(2),
.socials-list-item:nth-child(3) {
  margin-left: 20px;
}




/* TODO ADD TO FOOTER */
/* #textAnimation {
  stroke-dasharray: 5431px;
  stroke-dashoffset: 11000px;
  animation: handwritten 3s linear forwards;
  animation-delay: 3s;
}

@keyframes handwritten {
  from {
    stroke-dashoffset: 11000px;
  } to {
    stroke-dashoffset: 5431px;
  }
} */


/* TODO ADD MEDIA QUERY */